/*
 * Mixins and functions libary
 *
 * @author Full Name of Author <author@email.com>
 * @version yyy-mm-dd (Date of latest edit)
 */
/*
 * Base styling. example: link base styling, base font size etc.
 *
 * @author Full Name of Author <author@email.com>
 * @version yyy-mm-dd (Date of latest edit)
 */
/*******************************************/
/* CONTENTS */
/*******************************************/
/*
* RESET Reset default browser styling
* SHARED Shared elements across modules and layout
* MAIN html, body
* LAYOUT header, footer, wrapper, etc.
*/
@font-face {
  font-family: 'musketregular';
  src: url("../fonts/musket_regular-webfont.eot");
  src: url("../fonts/musket_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/musket_regular-webfont.woff") format("woff"), url("../fonts/musket_regular-webfont.ttf") format("truetype"), url("../fonts/musket_regular-webfont.svg#morgansncapsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'musketbold';
  src: url("../fonts/musket_bold-webfont.eot");
  src: url("../fonts/musket_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/musket_bold-webfont.woff") format("woff"), url("../fonts/musket_bold-webfont.ttf") format("truetype"), url("../fonts/musket_bold-webfont.svg#morgansncapsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'getlist';
  src: url("fonts/getlist.eot");
}

@font-face {
  font-family: 'getlist';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg6v8ywAAAC8AAAAYGNtYXDL8xqdAAABHAAAADxnYXNwAAAAEAAAAVgAAAAIZ2x5ZuFvRvEAAAFgAAACDGhlYWQALceVAAADbAAAADZoaGVhB8IDxgAAA6QAAAAkaG10eA4AAEIAAAPIAAAAFGxvY2EAcgE0AAAD3AAAAAxtYXhwAAkAhwAAA+gAAAAgbmFtZUInydsAAAQIAAABOXBvc3QAAwAAAAAFRAAAACAAAwQAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAACDmAgPA/8D/wAPAAEAAAAAAAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEACgAAAAGAAQAAQACACDmAv//AAAAIOYA////4RoCAAEAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAMAQP/AA8ADwAADAA4AEwAAFyETISU1IRUhFTchFzUhKwE1MxXAAoBA/QACAP8A/sBAAwBA/sBAgIBAAsDAgIDAQEDAQEAAAAMAAP/ABAADwAASABgAHQAAATIeAhUUDgIPASc3PgMzAQMlAScBCQEnARcDYCE6KxkECAwIQOBAChYYGg784EABIAJQ4P2wAoz+QDcBwDcDwBkrOiEOGhgWCkDgQAgMCAT9IP7gQAJQ4P2wAXT+QDcBwDcAAQAC/8ID/gO+AIQAACU4AzEJATgDMT4DNz4BLgEvAS4CBgcOAwc4AzEJATgDMS4DJy4BDgEPAQ4CFhceAxc4AzEJATgDMQ4DBw4BHgEfAR4CNjc+Azc4AzEJATgDMR4DFx4BPgE/AT4CJicuAycD9/7JATcBAgIBAQIBAgQDkwMICQkEAgMDAwH+yf7JAQMDAwIECQkIA5MDBAIBAgEBAgIBATf+yQECAgEBAgECBAOTAwgJCQQCAwMDAQE3ATcBAwMDAgQJCQgDkwMEAgECAQECAgGJATcBNwEDAwMCBAkJCAOTAwQCAQIBAQICAf7JATcBAgIBAQIBAgQDkwMICQkEAgMDAwH+yf7JAQMDAwIECQkIA5MDBAIBAgEBAgIBATf+yQECAgEBAgECBAOTAwgJCQQCAwMDAQAAAAEAAAABAAAU5jyWXw889QALBAAAAAAAzodBjAAAAADOh0GMAAD/wAQAA8AAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAABAAAAQAAAAAAAAAAAAAAAAAAAAUAAAAAAgAAAAQAAEAEAAAABAAAAgAAAAAACgAuAGgBBgABAAAABQCFAAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAAAAYABwAyAAEAAAAAAAoAKABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMAAQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoAKABjAGcAZQB0AGwAaQBzAHQAVgBlAHIAcwBpAG8AbgAgADAALgAwAGcAZQB0AGwAaQBzAHRnZXRsaXN0AGcAZQB0AGwAaQBzAHQAUgBlAGcAdQBsAGEAcgBnAGUAdABsAGkAcwB0AEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format("truetype"), url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAWwAAsAAAAABWQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDq/zLGNtYXAAAAFoAAAAPAAAADzL8xqdZ2FzcAAAAaQAAAAIAAAACAAAABBnbHlmAAABrAAAAgwAAAIM4W9G8WhlYWQAAAO4AAAANgAAADYALceVaGhlYQAAA/AAAAAkAAAAJAfCA8ZobXR4AAAEFAAAABQAAAAUDgAAQmxvY2EAAAQoAAAADAAAAAwAcgE0bWF4cAAABDQAAAAgAAAAIAAJAIduYW1lAAAEVAAAATkAAAE5QifJ23Bvc3QAAAWQAAAAIAAAACAAAwAAAAMEAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAg5gIDwP/A/8ADwABAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAAoAAAABgAEAAEAAgAg5gL//wAAACDmAP///+EaAgABAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAADAED/wAPAA8AAAwAOABMAABchEyElNSEVIRU3IRc1ISsBNTMVwAKAQP0AAgD/AP7AQAMAQP7AQICAQALAwICAwEBAwEBAAAADAAD/wAQAA8AAEgAYAB0AAAEyHgIVFA4CDwEnNz4DMwEDJQEnAQkBJwEXA2AhOisZBAgMCEDgQAoWGBoO/OBAASACUOD9sAKM/kA3AcA3A8AZKzohDhoYFgpA4EAIDAgE/SD+4EACUOD9sAF0/kA3AcA3AAEAAv/CA/4DvgCEAAAlOAMxCQE4AzE+Azc+AS4BLwEuAgYHDgMHOAMxCQE4AzEuAycuAQ4BDwEOAhYXHgMXOAMxCQE4AzEOAwcOAR4BHwEeAjY3PgM3OAMxCQE4AzEeAxceAT4BPwE+AiYnLgMnA/f+yQE3AQICAQECAQIEA5MDCAkJBAIDAwMB/sn+yQEDAwMCBAkJCAOTAwQCAQIBAQICAQE3/skBAgIBAQIBAgQDkwMICQkEAgMDAwEBNwE3AQMDAwIECQkIA5MDBAIBAgEBAgIBiQE3ATcBAwMDAgQJCQgDkwMEAgECAQECAgH+yQE3AQICAQECAQIEA5MDCAkJBAIDAwMB/sn+yQEDAwMCBAkJCAOTAwQCAQIBAQICAQE3/skBAgIBAQIBAgQDkwMICQkEAgMDAwEAAAABAAAAAQAAFOY8ll8PPPUACwQAAAAAAM6HQYwAAAAAzodBjAAA/8AEAAPAAAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAAAFAAAAAAIAAAAEAABABAAAAAQAAAIAAAAAAAoALgBoAQYAAQAAAAUAhQADAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKACgAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKACgAYwBnAGUAdABsAGkAcwB0AFYAZQByAHMAaQBvAG4AIAAwAC4AMABnAGUAdABsAGkAcwB0Z2V0bGlzdABnAGUAdABsAGkAcwB0AFIAZQBnAHUAbABhAHIAZwBlAHQAbABpAHMAdABHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format("woff");
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'getlist';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
  content: "\e600";
}

.icon-pencil:before {
  content: "\e601";
}

.icon-close:before {
  content: "\e602";
}

@font-face {
  font-family: "musketregular";
  src: url(/fonts/"musket_regular-webfont.eot");
  src: url(/fonts/"musket_regular-webfont.eot?#iefix") format("embedded-opentype"), url(/fonts/"musket_regular-webfont.woff") format("woff"), url(/fonts/"musket_regular-webfont.ttf") format("truetype"), url(/fonts/"musket_regular-webfont.svg#musketregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "musketbold";
  src: url(/fonts/"musket_bold-webfont.eot");
  src: url(/fonts/"musket_bold-webfont.eot?#iefix") format("embedded-opentype"), url(/fonts/"musket_bold-webfont.woff") format("woff"), url(/fonts/"musket_bold-webfont.ttf") format("truetype"), url(/fonts/"musket_bold-webfont.svg#musketbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1;
  position: relative;
}

img, object, embed {
  max-width: 100%;
  height: auto;
}

object, embed {
  height: 100%;
}

img {
  -ms-interpolation-mode: bicubic;
  display: inline-block;
  vertical-align: middle;
}

/* CSS3 PIE - IE8 Support */
.ie-pie {
  -pie-lazy-init: true;
  -pie-png-fix: true;
}

.ie .fb-popup-tpl-overlay {
  filter: none;
  -pie-background: rgba(255, 255, 255, 0.6);
}

.ie8 .fb-popup-tpl-overlay {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

/* ------------------------------------------ *\
    $font import
\* ------------------------------------------ */
/* ------------------------------------------ *\
    $Base fonts
\* ------------------------------------------ */
/*
* In this file you define all your general styling of fonts.
* All base font sizes are set in variables.
*/
html, body {
  font-size: 100%;
  line-height: 150%;
}

h1, .alpha {
  font-size: 1.625em;
  line-height: 1;
}

h2, .beta {
  font-size: 1.25em;
  line-height: 1;
}

h3, .gamma {
  font-size: 1.125em;
  line-height: 1;
}

h4, .delta {
  font-size: 1em;
  line-height: 1;
}

h5, .epsilon {
  font-size: 0.875em;
  line-height: 1;
}

h6, .zeta {
  font-size: 0.75em;
  line-height: 1;
}

a {
  color: pink;
}

/* ------------------------------------------ *\
    $Icon Fonts
\* ------------------------------------------ */
/*
* Here you want to put all your more special font styling (Use mixing for it)
*/
/* ------------------------------------------ *\
    $Aditional font styling
\* ------------------------------------------ */
/*
* Here you want to put all your more special font styling
*/
.logo {
  font-family: 'musketbold';
  font-size: 3.125em;
  color: #fff;
}
.logo span {
  color: #00a0a2;
}

.footer {
  width: 100%;
  padding: 15px;
}
.footer .logo {
  display: block;
  font-family: 'musketbold';
  font-size: 0.75em;
  color: #fff;
  text-align: center;
  text-decoration: none;
}
.footer .logo span {
  color: #00a0a2;
}

p {
  font-family: helvetica;
  line-height: 150%;
}

.btn {
  display: inline-block;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  font-family: arial;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn-login {
  color: #ffffff;
  background-color: #4097C8;
  border: none;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-login:hover {
  background-color: #246DA3;
}

.btn-succes {
  color: #ffffff;
  background-color: #1abc9c;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-succes:hover {
  background-color: #16a085;
}

.btn-optin {
  color: #ffffff;
  background-color: #ffcc00;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-optin:hover {
  background-color: #d2b231;
}

.btn-danger {
  color: #ffffff;
  background-color: #c95a5d;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  transition: .2s;
}

.btn-danger:hover {
  background-color: #bd362f;
}

.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.popup {
  width: 330px;
  background-color: #FFF;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  padding: 10px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.popup h4 {
  font-family: arial;
  font-size: 0.875em;
}

.ui-btn-close {
  position: absolute;
  top: -20px;
  right: -10px;
  font-size: 0.9375em;
  width: 30px;
  height: 30px;
  z-index: 5;
  background-color: #fff;
  border-radius: 50%;
}

.icon-close:before {
  position: absolute;
  top: 7px;
  left: 6px;
}

ul {
  /*This is a UL reset*/
  text-decoration: none;
  list-style-type: none;
  color: #fff;
}

.login-module input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  margin: 10px 0;
}
.login-module .create-profile {
  display: none;
  max-width: 350px;
  margin: 0 auto;
}
.login-module .create-profile.activated {
  display: block;
}
.login-module .login-user {
  display: none;
  max-width: 350px;
  margin: 0 auto;
}
.login-module .login-user.activated {
  display: block;
}

/*
 * Css for js interaktion states
 *
 * @author Full Name of Author <author@email.com>
 * @version yyy-mm-dd (Date of latest edit)
 */
/*******************************************/
/* CONTENTS */
/*******************************************/
/*
* RESET Reset default browser styling
* SHARED Shared elements across modules and layout
* MAIN html, body
* LAYOUT header, footer, wrapper, etc.
*/
/*
* Layout for getlist over all
*/
.main-block {
  width: 100%;
  max-width: 1030px;
  margin: 0 auto;
}

.loginarea-module {
  width: 100%;
  max-width: 512px;
  display: inline-block;
}
.loginarea-module .login {
  margin: 0 auto;
  width: 50%;
  font-size: 0.9375em;
}

.information-module {
  width: 100%;
  max-width: 512px;
  display: inline-block;
}

.footer {
  background-color: #303030;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
  background-color: #272727;
}

.information-module {
  padding: 50px;
}

.information-text {
  color: #fff;
}
