//  Base settings used in all projects.
//
//  @author Dennis Haulund Nielsen <dhni@nodes.dk>
//  @version 2013-08-01


// /*******************************************/
// CONTENTS
// /*******************************************/
//   HELPERS


// /*******************************************/
// $_HELPERS
// /*******************************************/
// Mixins
//  Usage:
//    .foo {
//        @include bar();
//        ...
//    }

// Micro Clearfix
@mixin clearfix() {
  *zoom:1;
  &:before, &:after { content: " "; display: table; }
  &:after { clear: both; }
}

// Facebook App dimensions
@mixin facebook-app() {
    width:100%;
    position:relative;
    @media #{$media-facebook-desktop} {
        width:810px;
        overflow-x:hidden;
        margin:0 auto;
    }
}

// Font-face
// Read: http://coding.smashingmagazine.com/2013/02/14/setting-weights-and-styles-at-font-face-declaration/
// Make sure to define the proper font name, and dont use font-weight / font-style
//  Usage:
//    _typography.scss:
//        @include font-face('Gill-Sans-Regular', 'Gill-Sans-MT-Pro');
//        -and/or-
//        @include font-face('Gill-Sans-Light', 'Gill-Sans-MT-Pro-Light');
//        -and/or-
//        @include font-face('Gill-Sans-Italic', 'Gill-Sans-MT-Pro-Italic');
//        -and/or-
//        @include font-face('Gill-Sans-Bold', 'Gill-Sans-MT-Pro-Bold');
//        -and/or-
//        @include font-face('Gill-Sans-Bold-Italic', 'Gill-Sans-MT-Pro-Bold-Italic');
//        -etc-
//
//        h1 {
//            font-family: Gill-Sans-Bold-Italic;
//            -etc-
//        }

@mixin font-face($font-family, $font-filename) {
    @font-face {
        font-family: '#{$font-family}';
        src: url(/fonts/('#{$font-filename}.eot'));
        src: url(/fonts/('#{$font-filename}.eot?#iefix')) format('embedded-opentype'),
        url(/fonts/('#{$font-filename}.woff')) format('woff'),
        url(/fonts/('#{$font-filename}.ttf')) format('truetype'),
        url(/fonts/('#{$font-filename}.svg##{$font-family}')) format('svg');
        font-weight: normal;
        font-style: normal;
    }
}

// Functions

// It strips the unit of measure and returns it
@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

// Converts "px" to "em" using the ($)em-base
@function convert-to-em($value)  {
  $value: strip-unit($value) / strip-unit($em-base) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0em into 0
  @return $value;
}

// Working in ems is annoying. Think in pixels by using this handy function, emCalc(#)
// Just enter the number, no need to mention "px"
@function emCalc($values...) {
  $max: length($values); // Get the total number of parameters passed

  // If there is only 1 parameter, then return it as an integer.
  // This is done because a list can't be multiplied or divided even if it contains a single value
  @if $max == 1 { @return convert-to-em(nth($values, 1)); }

  $emValues: (); // This will eventually store the converted $values in a list
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i)));
  }
  @return $emValues;
}



// General Styles

// Font Import


@font-face {
    font-family: 'musketregular';
    src: url('../fonts/musket_regular-webfont.eot');
    src: url('../fonts/musket_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/musket_regular-webfont.woff') format('woff'),
         url('../fonts/musket_regular-webfont.ttf') format('truetype'),
         url('../fonts/musket_regular-webfont.svg#morgansncapsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'musketbold';
    src: url('../fonts/musket_bold-webfont.eot');
    src: url('../fonts/musket_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/musket_bold-webfont.woff') format('woff'),
         url('../fonts/musket_bold-webfont.ttf') format('truetype'),
         url('../fonts/musket_bold-webfont.svg#morgansncapsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'getlist';
  src: url('fonts/getlist.eot');
}
@font-face {
  font-family: 'getlist';
  src: url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAALAIAAAwAwT1MvMg6v8ywAAAC8AAAAYGNtYXDL8xqdAAABHAAAADxnYXNwAAAAEAAAAVgAAAAIZ2x5ZuFvRvEAAAFgAAACDGhlYWQALceVAAADbAAAADZoaGVhB8IDxgAAA6QAAAAkaG10eA4AAEIAAAPIAAAAFGxvY2EAcgE0AAAD3AAAAAxtYXhwAAkAhwAAA+gAAAAgbmFtZUInydsAAAQIAAABOXBvc3QAAwAAAAAFRAAAACAAAwQAAZAABQAAApkCzAAAAI8CmQLMAAAB6wAzAQkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABAACDmAgPA/8D/wAPAAEAAAAAAAAAAAAAAAAAAAAAgAAAAAAACAAAAAwAAABQAAwABAAAAFAAEACgAAAAGAAQAAQACACDmAv//AAAAIOYA////4RoCAAEAAAAAAAAAAQAB//8ADwABAAAAAAAAAAAAAgAANzkBAAAAAAMAQP/AA8ADwAADAA4AEwAAFyETISU1IRUhFTchFzUhKwE1MxXAAoBA/QACAP8A/sBAAwBA/sBAgIBAAsDAgIDAQEDAQEAAAAMAAP/ABAADwAASABgAHQAAATIeAhUUDgIPASc3PgMzAQMlAScBCQEnARcDYCE6KxkECAwIQOBAChYYGg784EABIAJQ4P2wAoz+QDcBwDcDwBkrOiEOGhgWCkDgQAgMCAT9IP7gQAJQ4P2wAXT+QDcBwDcAAQAC/8ID/gO+AIQAACU4AzEJATgDMT4DNz4BLgEvAS4CBgcOAwc4AzEJATgDMS4DJy4BDgEPAQ4CFhceAxc4AzEJATgDMQ4DBw4BHgEfAR4CNjc+Azc4AzEJATgDMR4DFx4BPgE/AT4CJicuAycD9/7JATcBAgIBAQIBAgQDkwMICQkEAgMDAwH+yf7JAQMDAwIECQkIA5MDBAIBAgEBAgIBATf+yQECAgEBAgECBAOTAwgJCQQCAwMDAQE3ATcBAwMDAgQJCQgDkwMEAgECAQECAgGJATcBNwEDAwMCBAkJCAOTAwQCAQIBAQICAf7JATcBAgIBAQIBAgQDkwMICQkEAgMDAwH+yf7JAQMDAwIECQkIA5MDBAIBAgEBAgIBATf+yQECAgEBAgECBAOTAwgJCQQCAwMDAQAAAAEAAAABAAAU5jyWXw889QALBAAAAAAAzodBjAAAAADOh0GMAAD/wAQAA8AAAAAIAAIAAAAAAAAAAQAAA8D/wAAABAAAAAAABAAAAQAAAAAAAAAAAAAAAAAAAAUAAAAAAgAAAAQAAEAEAAAABAAAAgAAAAAACgAuAGgBBgABAAAABQCFAAMAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAADgCuAAEAAAAAAAEADgAAAAEAAAAAAAIADgBHAAEAAAAAAAMADgAkAAEAAAAAAAQADgBVAAEAAAAAAAUAFgAOAAEAAAAAAAYABwAyAAEAAAAAAAoAKABjAAMAAQQJAAEADgAAAAMAAQQJAAIADgBHAAMAAQQJAAMADgAkAAMAAQQJAAQADgBVAAMAAQQJAAUAFgAOAAMAAQQJAAYADgA5AAMAAQQJAAoAKABjAGcAZQB0AGwAaQBzAHQAVgBlAHIAcwBpAG8AbgAgADAALgAwAGcAZQB0AGwAaQBzAHRnZXRsaXN0AGcAZQB0AGwAaQBzAHQAUgBlAGcAdQBsAGEAcgBnAGUAdABsAGkAcwB0AEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAASQBjAG8ATQBvAG8AbgAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA) format('truetype'),
     url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAWwAAsAAAAABWQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABCAAAAGAAAABgDq/zLGNtYXAAAAFoAAAAPAAAADzL8xqdZ2FzcAAAAaQAAAAIAAAACAAAABBnbHlmAAABrAAAAgwAAAIM4W9G8WhlYWQAAAO4AAAANgAAADYALceVaGhlYQAAA/AAAAAkAAAAJAfCA8ZobXR4AAAEFAAAABQAAAAUDgAAQmxvY2EAAAQoAAAADAAAAAwAcgE0bWF4cAAABDQAAAAgAAAAIAAJAIduYW1lAAAEVAAAATkAAAE5QifJ23Bvc3QAAAWQAAAAIAAAACAAAwAAAAMEAAGQAAUAAAKZAswAAACPApkCzAAAAesAMwEJAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAg5gIDwP/A/8ADwABAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAgAAAAMAAAAUAAMAAQAAABQABAAoAAAABgAEAAEAAgAg5gL//wAAACDmAP///+EaAgABAAAAAAAAAAEAAf//AA8AAQAAAAAAAAAAAAIAADc5AQAAAAADAED/wAPAA8AAAwAOABMAABchEyElNSEVIRU3IRc1ISsBNTMVwAKAQP0AAgD/AP7AQAMAQP7AQICAQALAwICAwEBAwEBAAAADAAD/wAQAA8AAEgAYAB0AAAEyHgIVFA4CDwEnNz4DMwEDJQEnAQkBJwEXA2AhOisZBAgMCEDgQAoWGBoO/OBAASACUOD9sAKM/kA3AcA3A8AZKzohDhoYFgpA4EAIDAgE/SD+4EACUOD9sAF0/kA3AcA3AAEAAv/CA/4DvgCEAAAlOAMxCQE4AzE+Azc+AS4BLwEuAgYHDgMHOAMxCQE4AzEuAycuAQ4BDwEOAhYXHgMXOAMxCQE4AzEOAwcOAR4BHwEeAjY3PgM3OAMxCQE4AzEeAxceAT4BPwE+AiYnLgMnA/f+yQE3AQICAQECAQIEA5MDCAkJBAIDAwMB/sn+yQEDAwMCBAkJCAOTAwQCAQIBAQICAQE3/skBAgIBAQIBAgQDkwMICQkEAgMDAwEBNwE3AQMDAwIECQkIA5MDBAIBAgEBAgIBiQE3ATcBAwMDAgQJCQgDkwMEAgECAQECAgH+yQE3AQICAQECAQIEA5MDCAkJBAIDAwMB/sn+yQEDAwMCBAkJCAOTAwQCAQIBAQICAQE3/skBAgIBAQIBAgQDkwMICQkEAgMDAwEAAAABAAAAAQAAFOY8ll8PPPUACwQAAAAAAM6HQYwAAAAAzodBjAAA/8AEAAPAAAAACAACAAAAAAAAAAEAAAPA/8AAAAQAAAAAAAQAAAEAAAAAAAAAAAAAAAAAAAAFAAAAAAIAAAAEAABABAAAAAQAAAIAAAAAAAoALgBoAQYAAQAAAAUAhQADAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAA4ArgABAAAAAAABAA4AAAABAAAAAAACAA4ARwABAAAAAAADAA4AJAABAAAAAAAEAA4AVQABAAAAAAAFABYADgABAAAAAAAGAAcAMgABAAAAAAAKACgAYwADAAEECQABAA4AAAADAAEECQACAA4ARwADAAEECQADAA4AJAADAAEECQAEAA4AVQADAAEECQAFABYADgADAAEECQAGAA4AOQADAAEECQAKACgAYwBnAGUAdABsAGkAcwB0AFYAZQByAHMAaQBvAG4AIAAwAC4AMABnAGUAdABsAGkAcwB0Z2V0bGlzdABnAGUAdABsAGkAcwB0AFIAZQBnAHUAbABhAHIAZwBlAHQAbABpAHMAdABHAGUAbgBlAHIAYQB0AGUAZAAgAGIAeQAgAEkAYwBvAE0AbwBvAG4AAAAAAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA==) format('woff');
  font-weight: normal;
  font-style: normal;
}

[class*="icon-"] {
  font-family: 'getlist';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remove:before {
  content: "\e600";
}
.icon-pencil:before {
  content: "\e601";
}
.icon-close:before {
  content: "\e602";
}


@include font-face(musketregular, musket_regular-webfont);
@include font-face(musketbold, musket_bold-webfont);

// Box Sizing - For grids etc.
*,
  *:before,
  *:after {
    box-sizing: border-box;
}
 body {
    padding: 0;
    margin: 0;
    line-height: 1; // Set to $base-line-height to take on browser default of 150%
    position: relative;
}
img, object, embed {
    max-width: 100%;
    height: auto;
}
object, embed {
    height: 100%;
}
img {
    -ms-interpolation-mode: bicubic;
    display: inline-block;
    vertical-align: middle;
}

.app {
  padding: 15px;
}