// _typography.scss

/* ------------------------------------------ *\
    $font import
\* ------------------------------------------ */

// This is here you wan't to import all your font imports



/* ------------------------------------------ *\
    $Base fonts
\* ------------------------------------------ */

/*
* In this file you define all your general styling of fonts.
* All base font sizes are set in variables.
*/

$giga-size:         emCalc(83) !default; // .giga

$h1-size:           emCalc(26) !default; // .alpha
$h2-size:           emCalc(20) !default; // .beta
$h3-size:           emCalc(18) !default; // .gamma
$h4-size:           emCalc(16) !default; // .delta
$h5-size:           emCalc(14) !default; // .epsilon
$h6-size:           emCalc(12) !default; // .zeta
$btn-font-size:     emCalc(14) !default;

$family-arial:      'arial';

html,body{
    font-size: $base-font-size;
    line-height: $base-line-height;
}

h1, .alpha {
    font-size: $h1-size;
    line-height:1;
    color: #fff;
    font-family: arial; 
}

h2, .beta {
    font-size: $h2-size;
    line-height:1;
    color: #fff;
    font-family: arial;
}

h3, .gamma {
    font-size: $h3-size;
    line-height:1;
    color: #fff;
    font-family: arial;
}

h4, .delta {
    font-size: $h4-size;
    line-height:1;
    color: #fff;
    font-family: arial;
}

h5, .epsilon{
    font-size: $h5-size;
    line-height:1;
    color: #fff;
    font-family: arial;
}
h6, .zeta{
    font-size: $h6-size;
    line-height:1;
    color: #fff;
    font-family: arial;
}

p {
    // Whatever is general for the breadtext
    // font-size: $base-font-size; // Example font size for p ( if nothing changed = 16px )
}

a {
    color: #fff;
    font-family: arial;
}


/* ------------------------------------------ *\
    $Icon Fonts
\* ------------------------------------------ */

/*
* Here you want to put all your more special font styling (Use mixing for it)
*/

// @include font-face(getlist, getlist);

@font-face {
    font-family: 'getlist';
    src:url('../fonts/getlist.eot');
    src:url('../fonts/getlist.eot?#iefix') format('embedded-opentype'),
        url('../fonts/getlist.ttf') format('truetype'),
        url('../fonts/getlist.woff') format('woff'),
        url('../fonts/getlist.svg#getlist') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'getlist';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
    content: "\e600";
}
.icon-burger-menu:before {
    content: "\e601";
}
.icon-plus:before {
    content: "\e602";
}
.icon-cross:before {
    content: "\e603";
}


// @include font-face(fontname, font-filename);

/* ------------------------------------------ *\
    $Aditional font styling
\* ------------------------------------------ */

/*
* Here you want to put all your more special font styling
*/

.footer {
	width:100%;
	max-height: 80px;
	text-align: center;
	img {
		height: 80px;
	}
}

p {
	font-family: helvetica;
	line-height:$base-line-height; 
}