/*
*This file is for styling fonts, font-size, line-height etc. COLOURS SHOULD GO INTO theme FOLDERS!
*/

/* --------------------------------------------------------------------------------------------*\
    $THIS IS THE THEME FOR THE LOGO - CHANGE BRAND COLOURS IN VARIABLES AND INSERT THEM HERE!
\* --------------------------------------------------------------------------------------------*/

h1.logo {
	font-family:$musketbold;
	font-size:emCalc(50);
	color:#fff;
	span {
		color:$main-brand;
	}
}

.footer {
	width:100%;
	padding:15px;
	a.logo {
		display:block;
		font-family:$musketbold;
		font-size:emCalc(12);
		color:#fff;
		text-align:center;
		text-decoration:none;
		span {
			color: $main-brand;
		}
	}
	a:hover {
		span {
		}
	}
}

p {
	font-family: helvetica;
	line-height:$base-line-height; 
}