ul {
	/*This is a UL reset*/
	text-decoration:none;
	list-style-type:none;
	color: #fff;
	padding: 0;
}

.listShower {
	width: 90%;
	border: solid 2px pink;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-moz-transform: translateX(-50%);
}

.yourLists {
	font-size: 50px;
}

.activeLists {
}

.listItem {
	width: 70%;
	line-height: 50px;
	white-space: nowrap;
	
	.icon-arrow-left {
		font-size: 30px;
		padding: 7px;
		margin-right: 10px;
		background-color: #009d9f;
	}
}