ul {
	/*This is a UL reset*/
	text-decoration:none;
	list-style-type:none;
	color: #fff;
	padding: 0;
}

.listShower {
	width: 70%;
	margin: 0 auto;
	border: solid 2px pink;
}

.yourLists {
	font-size: 50px;
}

.activeLists {
}

.listItem {
	width: 70%;
	line-height: 50px;
	margin: 20px auto;
	
	.icon-arrow-left {
		background-color: #009d9f;
	}
}