/*
* Layout for getlist over all
*/

.main-block { 
	width:100%;
	max-width:1030px;
	margin:0 auto;
	background-color: tomato; 
}

.loginarea-module {
	width:100%;
	max-width:512px;
	display:inline-block;
}

.information-module {
	width: 100%;
	max-width: 512px;
	display: inline-block;
}

.clearfix {
	@include clearfix;
}
