/*
* Layout for getlist over all
*/

.main-block { 
	width:100%;
	max-width:1030px;
	margin:0 auto;
}

.loginarea-module {
	width:100%;
	max-width:512px;
	float: left;
	display:inline-block;
	.login {
		margin:0 auto;
		width:50%;
		text-align: center;
		font-size: 15px; 
	}
}

.information-module {
	width: 100%;
	max-width: 512px;
	display: inline-block;
	float: right;
}

.clearfix {
	@include clearfix;
}

