.btn {
	width: 100%;
	min-height: 48px;
	padding: $btn-padding;
	font-size: $btn-font-size;
	line-height: 20px;
	color: #fff;
	border: none; // Border removal is for input fields
	font-family: $family-arial;
	text-align: center;
	text-decoration:none;
	cursor: pointer;
	-webkit-appearance: none;
    border-radius: 0;
	-o-transition:.2s;
	-ms-transition:.2s;
	-moz-transition:.2s;
	-webkit-transition:.2s;
	transition:.2s;
}

.btn-login {
	background-color: #4097C8;
	&:hover {
		background-color: #246DA3;
	}
}


.btn-succes {
	background-color: #1abc9c;
	&:hover {
		background-color: #16a085;
	}
}


.btn-optin {
	background-color: #ffcc00;
	&:hover {
		background-color: #d2b231;
	}
}


.btn-danger {
	background-color: #c95a5d;
	&:hover {
		background-color: #bd362f;
	}
}
