.login-module {

	position: relative;

	.login {
		display: block;
		width: 100%;
		padding: 10px;
		font-size: 20px;
		margin: 10px 0;
	}

	#account-exists,
	#account-none {
		text-decoration: none;
		color: #fff;

		&:hover {	
			text-decoration: underline;
		}

	}	
	.create-profile,
	.login-user {
		display: none;
		max-width: 350px;
		margin: 0 auto;
		

		&.is-visible {
			display: block;
		}
	}

}